
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'regular-font';
  src: url('../public/regular-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'handlee';
  src: url('../public/Handlee/Handlee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  font-family: "regular-font", "handlee", 'Courier New', Courier, monospace;
  color: white;
}

:root {
  background-image: url("../public/background.jpg");
  --mouse-position: 0 0;
  --strength: 0;
}

#root {
  width: 100vw;
}

.page {
  width: 100vw;
}

.cardList {
  display: flex;
  column-gap: 50px;
  width: fit-content;
  margin: auto;

}

.card {
  color: white;
  position: relative;
  padding: 0.1px; /*prevents margin collapsing*/
  width: 200px;
  height: 300px;
  background-image: url("../public/card2.jpg");
  background-size: cover;
  border-radius: 10px;
}

.card:hover::after {
  position: absolute;
  bottom: 0;  
  height: 100%;
  width: 100%;
  content: "";
  background: radial-gradient(circle at var(--mouse-position), rgba(255, 255, 255, var(--strength)), rgba(255, 255, 255, 0.0));
  pointer-events: none; /* so the text is still selectable */
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
}

.gifHolder {
  margin: 10px auto;
  width: 180px;
  height: 250px;
}

.cardImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* border: 2px solid black; */
}

.charName {
  display: block;
  margin: 10px auto;
  width: fit-content;
  font-size: 24px;
  font-weight: bolder;
  /* color: black; */
}

.score {
  position: fixed;
  top: 35px;
  right: 65px;
}

.score * {
  font-size: 32px;
}

.fulltext {
  color: white;
  font-weight: bolder;
  font-size: 72px;
  display: block;
  width: 100vw;
  text-align: center;
}

.gameboard {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
}

.mainScore {
  font-weight: bolder;
  font-size: 32px;
}

.cardList.flip {
  animation: cardBye 0.5s ease-in forwards;
}

.cardList {
  animation: cardBye 0.5s ease-in reverse;
}

.settingsHeader {
  font-size: 72px;
  user-select: none;
}

.settingOpts {
  height: 100px;
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}

.settingOpt {
  width: 200px;
  font-size: 50px;
  text-align: center;
}

.settingOpt:hover {
  cursor: pointer;
  font-size: 60px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.start {
  display: flex;
  justify-content: center;
  width: 100vw;
  font-size: 100px;
  user-select: none;
}

.startText:hover {
  cursor: pointer;
  font-size: 120px;
}

.mute {
  position: fixed;
  top: 35px;
  left: 65px;
}

.mute:hover {
  cursor: pointer;
  user-select: none;
}

.soundImg {
  width: 50px;
  height: 50px;
}

@keyframes cardBye {
  from {
    transform: scale(1);
  }
  35% {
    transform: scale(1.2);
  }
  to {
    transform: scale(0);
  }
}
